# Env variables
.env

__pycache__

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

#Filter VS Code working files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace